html,
body {
    font-family: $fontfamily-main;
    font-size: $font-14;
}

.container {
    @include container();
}

.title {
    padding: 2rem;

    font-size: $font-60;
    font-weight: $font-w-900;

    text-align: center;

    &-section {
        padding: 2rem;

        font-size: $font-36;
        font-weight: $font-w-700;
        text-align: center;
        color: $black;
    }

    &-description {
        font-size: $font-14;

        color: $gray-dark;
    }
}