.footer {
    background: $secondary-color;

    padding-left: 13.4%;
    padding-right: 13.4%;
    padding-top: 60px;
    padding-bottom: 60px;

    display: flex;

    &-description {
        font-weight: $font-w-700;
        font-size: $font-14;
        line-height: 16px;

        text-transform: uppercase;

        color: $white;
    }

    &-main {
        margin-right: 70px;

        &__adress {
            margin-bottom: 9px;
        }

        &__adress a {
            color: $white;
        }
    }

    &-main__title {
        margin: 0px;
        margin-bottom: 20px;

        color: $white;

        font-size: $font-26;
        font-weight: $font-w-700;
    }

    &-contacts__social {
         margin-top: 2rem;
    }



    &-navigation__lists {
        list-style-type: none;

        display: flex;

        padding: 0px;
    }

    &-navigation__list {
        width: 44px;
        height: 44px;

        border-radius: 50%;
        background: $gray-dark;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
    }

    &-navigation__list img {
        width: 20px;
        height: 20px;
    }

    &-navigation__list--twiter {
        width: 44px;
        height: 44px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;

        border-radius: 50%;
        background-color: $primary-color;
    }
}

