.header {
    height: 80px;

    padding-left: 13.4%;
    padding-right: 13.4%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
    }

    &-contact {
        display: flex;
        justify-content: right;

        padding-left: 15rem;

        &__email {
            margin-right: 30px;
            display: flex;
            align-items:center;
        }

        &__tel {
            display: flex;
            align-items: center;
        }

        &__email img {
            margin-right: 10px;
        }

        &__tel img {
            margin-right: 10px;
        }
    }
}

.navbar {
    display: flex;
}

.main-logo {
    margin-right: 93px;
}

.main-title {
    font-size: $font-26;
    font-weight: $font-w-700;
}

.main-title--blue {
    color: $primary-color;
}

.main-navigation__lists {
    list-style: none;

    display: flex;

    margin: auto;
    padding: 0px;
}

.main-navigation__list {
    font-size: $font-14;
    font-weight: $font-w-500;

    padding: 30px 0px;
    margin-right: 50px;

    position: relative;
}

.main-navigation__link:hover {
    color: $primary-color;

    text-decoration: underline 3px;
}

.main-navigation__link--color {
    color: $gray-dark;
}

.main-navigation__link--color:hover {
    color: $primary-color;

    text-decoration: underline 3px;
}
