.section-image {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../img/background.png");
    background-position: 50% 50%;

    height: 600px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.added-services {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: space-between;

    &-image {
        width: 270px;
        height: 120px;

        background-color: $gray;
        border-radius: 4px;

        position: relative;
    }

    &-icons {
        position: absolute;
        top: 20%;
        left: 40%;

        width: 65px;
        height: 70px;

    }
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-description {
    width: 270px;
}

.block {
    display: flex;
    justify-content: space-between;

    &-info {
        width: 370px;
        height: 294px;

        background-image: url("../img/image_2023-02-11_11-54-12.png");
        background-position: 50% 50%;

        position: relative;

        &__title {
            text-align: center;
            background-color: $secondary-color;
            opacity: .8;

            width: 370px;
            height: 70px;

            position: absolute;
            top: 76%;
        }

        &__text {
            margin-top: 2rem;

            font-size: 14px;
            font-weight: $font-w-700;

            color: $white;
        }
    }

    &-info2 {
        width: 370px;
        height: 294px;

        background-image: url("../img/image_2023-02-11_11-54-22.png");
        background-position: 50% 50%;

        position: relative;
    }

    &-info3 {
        width: 370px;
        height: 294px;

        background-image: url("../img/image_2023-02-11_11-54-31.png");
        background-position: 50% 50%;

        position: relative;
    }
}

.section {
    background-color: $gray;
    width: 100%;
    height: 708px;

    &-team {
        display: flex;
        justify-content: space-between;

        margin-top: 5rem;
    }

    &-title {

        margin-top: 3rem;
        font-size: $font-36;
        font-weight: $font-w-700;

        text-align: center;
    }

    &-content__image {
        width: 270px;
        height: 260px;
    }


    &-content__title {
        color: $black;

        padding-top: 1rem;

        text-align: center;

        font-size: $font-16;
        font-weight: $font-w-500;
    }

    &-content__title--gray {
        color: $gray-dark;

        text-align: center;

        margin-top: 1rem;
    }

    &-content__items {
        margin-top: 1rem;

        list-style: none;
        color: $gray-dark;

        width: 270px;
        height: 100px;

        display: flex;
        justify-content: space-around;
    }

    &-content__item {
        width: 40px;
        height: 40px;

        border-radius: 50%;
        background: $gray-dark;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
    }

    &-content__description {
        background-color: $white;

        width: 270px;
    }
}

.colored-inst:hover {
    background-color: $primary-color;

    cursor: pointer;
}

.section-client {
    margin-top: 4rem;

    display: flex;
    justify-content: space-between;

    height: 200px;

    &__image {
        width: 170px;
    height: 92px;

    border: 1px $black-light solid;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    }
}