// COLOR
$primary-color: #2196F3;
$secondary-color: #2F303A;
$gray: #F5F4FA;
$gray-dark: #757575;
$black: #212121;

// FONT-SIZE
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-26: 26px;
$font-36: 36px;
$font-44: 44px;
$font-60: 60px;

// FONT-WEIGHT
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;
$font-w-900: 900;

// FONT-FAMALY
$fontfamily-main: 'Roboto', sans-serif;
$fontfamily: 'Raleway', sans-serif;