*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  padding: 2rem;
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.title-section {
  padding: 2rem;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
}
.title-description-bold {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
}
.title-description {
  font-size: 14px;
  color: #757575;
}

.btn__add {
  background-color: #2196F3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.title-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-top: 1.3rem;
}

.title__color {
  color: #2196F3;
}

.list {
  display: inline-block;
  padding: 1.7rem;
  list-style: none;
}
.list:hover {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  color: #2196F3;
}
.list-link {
  text-decoration: none;
  color: #212121;
}
.list-link:hover {
  color: #2196F3;
}
.list-link__contact {
  text-decoration: none;
  color: #757575;
}
.list-link__contact:hover {
  color: #2196F3;
}

.section-image {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background.png");
  background-position: 50% 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.added-services {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about-image {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  position: relative;
}
.about-icons {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 65px;
  height: 70px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 270px;
}

.block {
  display: flex;
  justify-content: space-between;
}
.block-info {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-12.png");
  background-position: 50% 50%;
  position: relative;
}
.block-info__title {
  text-align: center;
  background-color: #2F303A;
  opacity: 0.8;
  width: 370px;
  height: 70px;
  position: absolute;
  top: 76%;
}
.block-info__text {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
.block-info2 {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-22.png");
  background-position: 50% 50%;
  position: relative;
}
.block-info3 {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-31.png");
  background-position: 50% 50%;
  position: relative;
}/*# sourceMappingURL=main.css.map */