*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #212121;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  padding: 2rem;
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
}
.title-section {
  padding: 2rem;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #212121;
}
.title-description--bold {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
}
.title-description {
  font-size: 14px;
  color: #757575;
}

.btn__add {
  background-color: #2196F3;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 4px;
}

.header {
  height: 80px;
  padding-left: 13.4%;
  padding-right: 13.4%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  align-items: center;
}
.header-contact {
  display: flex;
  justify-content: right;
  padding-left: 15rem;
}
.header-contact__email {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.header-contact__tel {
  display: flex;
  align-items: center;
}
.header-contact__email img {
  margin-right: 10px;
}
.header-contact__tel img {
  margin-right: 10px;
}

.navbar {
  display: flex;
}

.main-logo {
  margin-right: 93px;
}

.main-title {
  font-size: 26px;
  font-weight: 700;
}

.main-title--blue {
  color: #2196F3;
}

.main-navigation__lists {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0px;
}

.main-navigation__list {
  font-size: 14px;
  font-weight: 500;
  padding: 30px 0px;
  margin-right: 50px;
  position: relative;
}

.main-navigation__link:hover {
  color: #2196F3;
}

.main-navigation__link--color {
  color: #757575;
}

.main-navigation__link--color:hover {
  color: #2196F3;
}

.section-image {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/background.png");
  background-position: 50% 50%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.added-services {
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about-image {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  position: relative;
}
.about-icons {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 65px;
  height: 70px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card-description {
  width: 270px;
}

.block {
  display: flex;
  justify-content: space-between;
}
.block-info {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-12.png");
  background-position: 50% 50%;
  position: relative;
}
.block-info__title {
  text-align: center;
  background-color: #2F303A;
  opacity: 0.8;
  width: 370px;
  height: 70px;
  position: absolute;
  top: 76%;
}
.block-info__text {
  margin-top: 2rem;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
.block-info2 {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-22.png");
  background-position: 50% 50%;
  position: relative;
}
.block-info3 {
  width: 370px;
  height: 294px;
  background-image: url("../img/image_2023-02-11_11-54-31.png");
  background-position: 50% 50%;
  position: relative;
}

.section {
  background-color: #F5F4FA;
  width: 100%;
  height: 708px;
}
.section-team {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.section-title {
  margin-top: 3rem;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.section-content__image {
  width: 270px;
  height: 260px;
}
.section-content__title {
  color: #212121;
  padding-top: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.section-content__title--gray {
  color: #757575;
  text-align: center;
  margin-top: 1rem;
}
.section-content__items {
  margin-top: 1rem;
  list-style: none;
  color: #757575;
  width: 270px;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.section-content__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.section-content__description {
  background-color: #ffffff;
  width: 270px;
}

.colored-inst:hover {
  background-color: #2196F3;
  cursor: pointer;
}

.section-client {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.section-client__image {
  width: 170px;
  height: 92px;
  border: 1px #AFB1B8 solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.footer {
  background: #2F303A;
  padding-left: 13.4%;
  padding-right: 13.4%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-main {
  margin-right: 70px;
}
.footer-main__adress {
  margin-bottom: 9px;
}
.footer-main__adress a {
  color: #ffffff;
}
.footer-main__title {
  margin: 0px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
}
.footer-contacts__social {
  margin-top: 2rem;
}
.footer-navigation__lists {
  list-style-type: none;
  display: flex;
  padding: 0px;
}
.footer-navigation__list {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.footer-navigation__list img {
  width: 20px;
  height: 20px;
}
.footer-navigation__list--twiter {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #2196F3;
}/*# sourceMappingURL=main.css.map */